venv
__pycache__
.vscode
build
dist
env
ls
*.egg-info
.DS_Store
Pipfile
Pipfile.lock
responses
shifter.egg-info
files.txt


# Created by https://www.gitignore.io/api/vagrant
# Edit at https://www.gitignore.io/?templates=vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box

# End of https://www.gitignore.io/api/vagrant